html{
    scroll-behavior: smooth;
}
body {
    text-align: center;
    background-color: #18FF;
}

img {
    hight: 300px;
    width: 300px;
    border-radius: 50%;
    transition: transform .2s;
    border: 20px solid: #AAAAAA;
}

#main {
    font-family: sans-serif;
    font-size: 20px;
}

#menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10px;
    cursor: pointer;
}
.links:hover{
    background-color: #585eeb;
}
